.menu {
  max-width: 585px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 10px;
  justify-content: space-around;

}

.menuItem {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  text-decoration: none;
}

@media screen and (max-width: 996px) {

  .menu {
    display: none;
  }

  .fixedLeftMenu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 98px 0 0 0;
    padding: 0 0 98px 0;

    height: 100%;
    max-width: 100%;
    width: 100%;
    opacity: 0.68;
    background-color: #FFFFFF;
    display: block;
    overflow: auto;
  }

  .fixedLeftMenu li {
    padding: 20px 0 0 15px;
    width: 150px;
    height: 50px;
    background-color: #6d6b6b;
  }

  .menuItem {
    color: #FFFFFF;
  }

}
@media screen and (max-width: 400px) {
  .fixedLeftMenu {
    margin: 132px 0 0 0;
    padding-bottom: 136px;
  }
}
