.wrapper {

}

.commonInform {
  margin: 32px 0 24px 0;

  height: 22px;
  display: flex;
  justify-content: space-between;
}
.annotation {
  display: flex;
  align-items: center;
  gap: 6px;
}
.annotation > p {
  height: 100%;

  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #121212;
  opacity: 0.6;
}
.reviewsWrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
