.background {
  background-color: #121212;
  max-width: 1280px;
  min-height: 24px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 14px;
}

.companyInfo {
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 8px;
  column-gap: 20px;

  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #FFFFFF;
  opacity: 0.8;
}
@media screen and (max-width: 996px) {
  .background {
    display: none;
  }
}