.selectInput {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.selectLabel:nth-child(4n) {
  background-color: #F8F8F8;
}
.selectLabel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;

  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #121212;
}
.selectLabel + input + .selectLabel {
  border-top: 0 solid #C7CCD160;
}
.selectLabel:hover {
  background-color: #f1f0f0;
}