.mask {
  min-height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  position: relative;
}

.rectangle {
  min-height: 461px;
  max-width: 532px;
  width: 100%;

  background-color: #FFFFFF;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.wrapper {
  z-index: 4;
  min-height: 285px;
  max-width: 340px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tittle {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.4;
}

.description {
  text-align: center;
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;

}
.description span {
  color: #E91E63;
}
.formError {
  color: #E91E63;
}
.form {
  min-height: 152px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputEmailWrapper {
  width: 100%;
  height: 100%;
}

/*работает вместо background
.inputEmail:-webkit-autofill,
.inputEmail:-webkit-autofill:hover,
.inputEmail:-webkit-autofill:focus,
.inputEmail:-webkit-autofill:active  {
  !*-webkit-box-shadow: 0 0 0 150px #F8F8F8 inset !important;*!
  !*-webkit-text-fill-color: red !important;*!
}*/
.inputEmail:-webkit-autofill:hover {
  -webkit-box-shadow: 1px 1px 3px rgba(58, 30, 239, 0.9);
}
.inputEmail:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 5px rgb(79, 67, 151);
}

.inputEmail {
  width: 100%;
  min-height: 64px;
  border: 0;
  background-color: #F8F8F8;
  transition: box-shadow 0.21s ease-in;

  font-family: Spartan, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #121212;
  cursor: pointer;
  outline: none;
}
.inputEmailError {
  box-shadow: 0 0 3px rgb(194, 42, 127) !important;
}
.inputEmail:hover {
  box-shadow: 1px 1px 3px rgb(79, 67, 151);
}
.inputEmail:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.inputEmail:focus {
  cursor: text;
  box-shadow: 1px 1px 3px rgb(58, 30, 239);
}

.inputEmail:focus::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.inputEmail::placeholder {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.submit,
.disableReviewButton {
  width: 100%;
  height: 64px;
  /*max-height: 64px;*/
  background-color: #121212;
  border: 1px solid rgb(97, 86, 177);
  transition: 0.21s ease-in;

  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.9;
}
.submit:hover {
  box-shadow: 0 0 4px rgb(58, 30, 239);
  text-shadow: 0 0 4px rgb(58, 30, 239);
}
.successSubmitText {
  color: #ADFF2F;
}
.errorSubmitText {
  color: #FF0000;
}

.women {
  position: absolute;
  top: 34px;
  right: 850px;
  z-index: 2;
}
.men {
  position: absolute;
  top: 25px;
  left: 900px;
  z-index: 2;
}
.disableReviewButton {
  background-color: #9C9C9C;
  border: 0;
}