.container {
  width: 100%;
  max-width: 1110px;
  margin: 32px auto 0 auto;
  display: grid;
  grid-template-columns: minmax(100px, 575px) minmax(300px, 1fr);
  column-gap: 30px;
}

.wrapper {
  width: 100%;
  max-height: 560px;
  display: flex;
  column-gap: 16px;

}

.productAngles {
  height: max-content;
  min-width: 0;
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.pointers {
  display: flex;
  justify-content: space-between;
}

.down {
  transform: rotate(180deg);
}

.imagesWrapper {
  display: flex;
  row-gap: 16px;
  position: relative;
  min-width: 0;
  min-height: max-content;
}

.imagesWrapper div {
  width: 100%;
}

.imagesWrapper div div {
  transform: translate3d(0, 0, 0) !important;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.imagesWrapper div div div {
  opacity: 0.4;
  height: max-content;
}

.bigImgWrapper {
  width: 100%;
  /*height: 100%;*/
  height: max-content;

  position: relative;
  min-height: 0;
  min-width: 0;
}
.bigImg {
  width: 100%;
}

.bigImgWrapper img {
  height: 100%;
  /*height: max-content;*/
  width: 100%;
  object-fit: initial;
}

.arrows {
  height: 100%;
  width: 100%;
  padding: 0 16px;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgWrapper {
  cursor: pointer;
  width: 100%;
  max-width: 94px;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
}
.swiper {
  height: 100%;
}

@media screen and (max-width: 750px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    row-gap: 25px;
  }

  .wrapper {
    flex-direction: column-reverse;

    max-height: 100%;
    min-width: 0;
  }

  .pointers {
    justify-content: center;
    gap: 25px;
  }

  .imagesWrapper {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

  }
}