.background {
  background-color: #F8F8F8;
}

.wrapper {
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}
.wrapper p {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  color: #121212;
  opacity: 0.8;
}
.wrapper li:last-child {
  text-decoration-line: underline;
}

.cards {
  width: 100%;
  max-width: 381px;
}
@media screen and (max-width: 714px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
  }
}