.clothes {
  max-width: 1110px;
  margin: 96px auto;
}

.wrapper {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.tittle {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}

.closesWrapper {
  max-width: 1110px;
  margin: 0 auto 48px auto;
}

@media screen and (max-width: 825px) {
  .wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
}