.wrapper {
  width: 100%;
  max-width: 663px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  text-align: right;
  letter-spacing: 0.06em;
  color: #121212;
  opacity: 0.6;
}