.button {
  min-height: 48px;
  width: 100%;
  border: 0;

  background-color: #F8F8F8;

  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.8;
  cursor: pointer;
}