.wrapper {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container {
  max-width: 1280px;
  margin: 96px auto;
}

.list {
  width: 100%;
  height: 100%;
  flex-basis: 540px;
  flex-grow: 0.3;
}
