.container {
  max-width: 1110px;
  min-height: 318px;
  margin: 0 auto 25px auto;
  background-color: #F8F8F8;
}

.wrapper {
  max-width: 1026px;
  margin: 0 auto;
  padding-top: 17px;
  height: 272px;

  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.column {
  padding-left: 1px;
  max-height: 272px;
  width: 100%;
  max-width: 234px;
  overflow-y: auto;
  overflow-x: visible;

  display: flex;
  flex-direction: column;
}

/* полоса прокрутки (скроллбар) */
.column::-webkit-scrollbar {
  width:3px; /* ширина для вертикального скролла */
  background-color: #E6E6E6;
}

/* ползунок скроллбара */
.column::-webkit-scrollbar-thumb {
  background-color: #8D8B8B;
}

.column::-webkit-scrollbar-thumb:hover {
  background-color: #6D6B6B;
}