.wrapper {
  max-width: 1110px;
  min-height: 64px;
  margin: 0 auto;

  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.headerNavLogo, h1 {
  font-family: "Playfair Display SC", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #121212;
  text-decoration: none;
}

@media screen and (max-width: 660px) {
  .wrapper {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 44px min-content min-content;
    row-gap: 15px;
    justify-items: center;
  }
}
