.commonInform {
  margin: 32px 0 24px 0;

  height: 22px;

  display: flex;
  justify-content: space-between;
}
.annotation {
  display: flex;
  align-items: center;
  gap: 6px;

  cursor: pointer;
}
.annotation > p {
  height: 100%;

  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #121212;
  opacity: 0.6;
}
.reviewsWrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.reviewForm {
  /*visibility: hidden;*/
  display: none;
  opacity: 0;
  /*transform: translateX(100%);*/
  transition: 0.3s ease-out;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100vw;
  height: 100vh;

  /*display: flex;*/
  align-items: center;
  justify-content: center;
  }
.reviewFormActive {
  /*visibility: visible;*/
  display: flex;
  opacity: 1;
}
.reviewFormWrapper {
  /*min-width: 200px;*/
  width: calc(60px + 20vw);
  min-width: 200px;
  max-width: 600px;
  min-height: max-content;
  border: 2px solid #121212;
  border-radius: 15px;
  background-color: #F3F2F2;

  padding: 35px 45px 20px 45px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.reviewFormWrapper > p {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #121212;
}
.textareaReview {
  width: 100%;
  min-height: 100px;
  resize: vertical;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.formControl {
  width: 100%;
  position: relative;
}
.formControl > ul {
  justify-content: center;
}
.formControl > ul > li,
.formControl > ul > li > svg {
  width: 21px;
  height: 21px;
}
.inputReview,
.textareaReview {
  width: 100%;
  padding: 4px 6px 5px 14px;
  border: 1px solid #121212;
  outline: none;
  border-radius: 8px;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  transition: box-shadow 0.11s ease-in;

  font-size: 17px;
  line-height: 18px;
}
.inputReview:hover,
.textareaReview:hover {
  box-shadow: 0 0 5px rgb(67, 76, 153);
}
.inputReview:focus,
.textareaReview:focus {
  cursor: text;
  box-shadow: 0 0 5px rgb(6, 7, 23);
}
.reviewFormError {
  box-shadow: 0 0 5px rgb(196, 25, 25) !important;
  border: 1px solid red;
}

.submit,
.disableReviewButton {
  max-width: 130px;
  width: 100%;
  height: 40px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #121212;
  border: none;
  transition: 0.11s ease-in;

  cursor: pointer;

  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  opacity: 0.9;
}
.submit:hover {
  box-shadow: 0 0 8px rgb(67, 76, 153);
  text-shadow: 0 0 4px rgb(67, 76, 153);
  border: 1px solid rgb(142, 143, 194);
}
/*Preloader*/
.submit div div,
.disableReviewButton div div {
  width: 30px;
  height: 30px;
}
.disableReviewButton {
  background-color: #9C9C9C;
  border: none;
}

/*работает как background-color(вместо внешнего box-shadow)
.inputReview:-webkit-autofill,
.inputReview:-webkit-autofill:hover,
.inputReview:-webkit-autofill:focus,
.inputReview:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 150px rgb(250, 250, 250) inset !important;
}
*/
.inputReview:-webkit-autofill:hover {
  box-shadow: 0 0 5px rgb(67, 76, 153);
}
.inputReview:-webkit-autofill:focus {
  box-shadow: 0 0 5px rgb(6, 7, 23);
}

.errorSubmitText {
  /*position: absolute;*/
  padding-top: 8px;
  color: red;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.formControl ::placeholder {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  padding-left: 2px;
  color: #000000;
  opacity: 0.6;
}

.reviewMessageError {
  position: absolute;
  color: #E91E63;
}