.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.common {
  display: flex;
  justify-content: space-between;
}
.rating {
  height: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.description {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #121212;
  opacity: 0.8;

  word-break: break-all;
}