.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-height: 56px;
  padding: 0 85px 0 85px;
  background-color: #121212;
}

.text {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  max-width: 520px;
  height: 32px;
}
.inputEmail {
  max-width: 400px;
  width: 100%;

  background-color: rgba(64, 64, 64, 0.71);
  outline: none;
  border: 0;
}
::placeholder {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  padding-left: 14px;
  color: #FFFFFF;
  opacity: 0.4;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.submit {
  max-width: 108px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #121212;
  border: 1px solid #FFFFFF;
  cursor: pointer;

  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.9;
}

.messengers {
  width: 100%;
  max-width: 108px;
  height: 18px;
  margin-left: 56px;
}