.wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 18px 0 22px 0;
}

.navigationStage {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;

  color: #E6E6E6;
}
.navigationStageActive {
  color: #121212;
}