.form {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.radioLabelFormControl {
  height: 22px;
  margin: 13px 0;
}
.radioLabelFormControl span {
  padding: 0 0 0 15px;

  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.radioFormControl {
  display: flex;
  flex-direction: column;
}
.radioFormControl > p {
  margin-bottom: 12px;

  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}