.wrapper {
  max-width: 1110px;
  min-height: 522px;
  margin: 32px auto;

  display: grid;
  grid-gap: 30px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;

}

.swiper {
  height: 100%;
}

.leftArrow {
  z-index: 1;
}

.rightArrow {
  z-index: 1;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.bigBannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.item1 {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/3;
  min-width: 0;
}

.item2 {
  position: relative;
}

.item3 {
  position: relative;
}

.item4 {
  position: relative;
  grid-column: 2/4;
}

.bigBannerMask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.bannerMask {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bigBannerContainer {
  width: 100%;
  max-width: 492px;
  height: 100%;
  margin: 0 auto;


  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerContainer {
  width: 100%;
  max-width: 255px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bigBannerWrapper {
  z-index: 1;
  min-height: 100px;
  width: 100%;
  max-width: 289px;
  border-radius: 4px;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bannerWrapper {
  min-height: 48px;
  width: 100%;
  max-width: 118px;
  border-radius: 4px;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.longBannerWrapper {
  min-height: 48px;
  width: 100%;
  max-width: 166px;
  border-radius: 4px;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bannerTitle {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}

.bigBannerText {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  opacity: 0.4;
}

.bigBannerTitle {
  font-family: Spartan, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #121212;
}

@media screen and (max-width: 560px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15% 15% 17%;
  }

  .item1 {
    grid-row: auto;
    grid-column: auto;
  }

  .item4 {
    grid-column: auto;
  }
}

.testLeftArrow {
  z-index: 5;
  opacity: 1;
}

.testRightArrow {
  z-index: 5;
  opacity: 1;
}