.formControl {
  position: relative;
}
.formControlInputs {
  width: 100%;
  height: 48px;
  padding: 6px 0 0 16px;

  border: none;
  background-color: #F8F8F8;;
  cursor: pointer;

  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #121212;
}
.formControlInputs::placeholder {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #9C9C9C;
}
.errorField {
  border: 1px solid red;
}
.formControl label {
  font-family: 'Spartan', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}
.formControl > label > p {
  margin-bottom: 8px;
}
.house {
  display: flex;
  gap: 8px;
}